@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Uncut Sans';
    src: url('/assets/fonts/Uncut-Sans-Variable.ttf');
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
    font-family: 'Uncut Sans', -apple-system, system-ui, BlinkMacSystemFont,
    'Helvetica Neue', 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}