
.msg_send {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
    background-color: white;
}

.chat_panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 64px;
    margin-top: 10px;

}

.chat {
    padding: 10px;
    max-width: 400px;
}

.user_type_system {
    background: #000000;
    color: #fff;
    align-self: flex-start;
    border-radius: 12px 12px 12px 0;
}

.user_type_user {
    background: #eae8e8;
    align-self: end;
    border-radius: 12px 12px 0 12px;
}

.chat_feed {
    margin: 10px;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 500px;
}

.msg_txt {
    max-width: 500px;
    padding: 0 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 10px auto 15px;

}

.input_text {
    outline: none;
    appearance: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    padding: 3px 10px;
    background: transparent;
}

.input_text:focus {
    outline: none;
    border: none;
}

.not_recording {

}

.recording {
    color: red;
}

@media screen and (max-width: 600px) {
    .input_text {
        height: 45px;
    }

    .msg_txt {
        padding: 0 10px;
        margin: 10px 10px 15px 15px;
    }

}